body {
    font-family:'Pacifico', cursive;
  }
  
.bg {
    background-image: url('moana/bgg.png');
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
  padding: 10px 0;
}

.underline-link:hover {
  text-decoration: underline;
}



